{
  "presets": [
    "@babel/preset-env", // Зачем это "targets": { "browsers": ["last 2 chrome versions"] },
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "module:fast-async",
      {
        "spec": true
      }
    ]
  ]
}